*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: #C4C4C4;
}

.sq-1{
    width: 512px;
    height: 512px;
    background-color: #000000;
    position: relative;
    top: 100px;
    left: 100px;
}

.diya{
    position: absolute;
    top: 128px;
    left: 101px;
}

.ua{
    position: absolute;
    width: 80px;
    height: 60px;
    border-radius: 6px;
    background-color: blue;
    bottom: 109px;
    left: 215px;
    overflow: hidden;
}

.yellow-1{
    background-color: yellow;
    position: absolute;
    width: 80px;
    height: 30px;
    top: 30px;
}

.sq-2{
    width: 512px;
    height: 512px;
    position: relative;
    left: 550px;
    z-index: 1;
}

.yellow-2{
    position: absolute;
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
}

.blue-1{
    position: absolute;
    z-index: 1;
}

.sign-1{
    position: absolute;
    top: 144px;
    left: 55px;
    z-index: 2;
}

.sq-3{
    width: 512px;
    height: 512px;
    position: relative;
    left: 1000px;
    background-color: #FFF;
    top: -72px;
    border-top: 2px solid #2137FC;
    border-bottom: 2px solid #2137FC;
}

.circle{
    position: absolute;
    background-color: #FFCE22;
    width: 444px;
    height: 444px;
    border-radius: 444px;
    top: 34px;
    left: 34px;
    overflow: hidden;
}

.sign-2{
    position: absolute;
    z-index: 1;
    top: 210px;
    left: 23px;
}




